@import "src/styles/abstracts/mixins"

.header
	padding-top: 40px
	padding-bottom: 40px

	&__inner
		@include respond-above(md)
			display: flex

	&__info
		display: flex
		align-items: center
		margin-left: auto

	&__social
		display: grid
		grid-gap: 10px
		grid-auto-flow: column
		align-items: center
		margin-left: 100px
		line-height: 1
		position: relative

	&__socialTitle
		$font-size: 12px
		font:
			size: $font-size
			weight: 700
		white-space: nowrap
		position: absolute
		left: 0
		top: -$font-size - 5px

	&__switchIcon
		margin-left: 5px
		margin-top: 1px
		display: inline-block
		margin-right: 5px