@import "../../../src/styles/abstracts/vars"
@import "../../../src/styles/abstracts/mixins"

\:global
	.rdw-dropdown-wrapper
		background-color: $color-light

		&[aria-expanded="true"]
			opacity: 1

	.rdw-option-wrapper, .rdw-dropdown-wrapper
		height: 25px
		border-width: 0
		opacity: .9
		box-shadow: none

		&:hover
			opacity: 1
			cursor: pointer

	.rdw-option-active
		background-color: $color-default-dark
		box-shadow: none !important

	.rdw-link-modal
		box-shadow: none
		box-sizing: content-box


$converterGridGap: 50px

.editor
	display: grid
	grid-gap: $converterGridGap
	margin-top: 30px
	word-break: break-word

	@include respond-above(lg)
		grid-template-columns: 1fr 1fr
		grid-template-rows: 1fr auto

	@include respond-below(lg)
		grid-template-rows: 1fr 1fr auto

	&__icon
		$iconWidth: 30px
		$iconHeight: 50px
		$centerAbsoluteValue: calc(50% - (#{$iconHeight} / 2))
		position: absolute
		width: $iconWidth
		height: $iconHeight

		@include respond-above(lg)
			top: $centerAbsoluteValue
			right: -$iconWidth - (($converterGridGap - $iconWidth) / 2)

		@include respond-below(lg)
			transform: rotate(90deg)
			left: $centerAbsoluteValue

		path
			fill: var(--fill-color)

.wordEditorWrapper
	position: relative

.wordEditor
	display: flex
	flex-direction: column

.wordEditor__toolbar
	background-color: var(--converter-toolbar-background-color)
	border-color: transparent
	border-radius: 5px 5px 0 0
	margin-bottom: 0
	color: $color-dark

.wordEditor__area
	min-height: 400px
	max-height: 700px
	border-radius: 0 0 5px 5px
	font-size: 15px

	pre
		color: var(--fill-color-alternate)

.htmlEditor, .wordEditor__area
	background-color: var(--converter-area-background-color)
	padding:
		right: 15px
		left: 15px

.htmlEditor
	border-radius: 5px
	border-width: 0
	color: var(--fill-color)
	resize: none
	cursor: text
	width: 100%
	height: 100%
	display: block
	padding:
		top: 15px
		bottom: 15px
	margin-bottom: 20px