@import "styles/abstracts/vars"

.wrapper
	background-color: var(--body-background-color)
	height: 100%

	&[data-theme="light"]
		--body-background-color: #{$color-light}
		--logo-text-color: #{$color-default-dark}
		--logo-icon-color: #{$color-dark}

	&[data-theme="dark"]
		--body-background-color:  #{$color-dark}
		--logo-text-color: #{$color-light}
		--logo-icon-color: #{$color-default-dark}